.container{
    max-width: 1200px;
    width: 80%;
    margin: 20px auto;
}
.head-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 90px;
}
.nav-ul{
    display: flex;
    flex-wrap: wrap ;
}

.nav-li{
    margin-right: 40px;
}
.nav-a{
    color: black;
    font-family: 'ArchyEDT-Bold';
    font-size: 18px;
    transition-property: all;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
}
.search{
    width: 15px;
}
.nav-a:hover{
    color:darkgray;
}
.banner{
    margin-top:40px;
    max-width: 1200px;
}
.banner-img{
    width: 100%;
}
li:last-child{
    margin-right: 0px;
}
.news-head{
    display: flex;
    justify-content: center;
}
.pop-news{
    position: relative;
    top: 40px;
    font-size: 35px;
    font-family: 'ArchyEDT-Bold';
    display: inline-block;
    padding-bottom: 10px;
}
.pop-news::before{
    content: "";
    position: absolute;
    width: 25%;
    height: 1px;
    bottom: 0;
    left: 38%;
    border-bottom: 4px solid darkgray;
}
.l-news{
    margin-top:80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.news-block{
    width: calc(100% / 3 - 20px);
    box-shadow: 0 3px 5px;
    padding-bottom: 10px;
}
.news-img{
    width: 100%;
}
.news-title{
    margin-top: 8px;
    font-size: 20px;
    font-family: 'ArchyEDT-Bold';
}
.news-text{
    margin-top: 8px;
    font-size: 15px;
}
.see-more{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
.more{
    color: black;
    font-family: 'ArchyEDT-Bold';
    font-size: 17px;
    transition-property: all;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
}
.more::after{
    content: '\2192';
    margin-left: 5px;
}
.margin{
    margin-right: 0px;
}
.load-more{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.load-a{
    font-size: 20px;
    color: black;
    text-transform: capitalize;
    font-family: 'Merriweather';
    border-bottom: 1px solid darkgray;
}
.footer{
  
    padding: 20px 0;
    margin-top: 100px;
    width: 100%;
    background-color:#2E2E2E;
}

.footer-logo{
    width: 150px;
}
.marginbot{
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.contact{
    display: flex;
    flex-direction: column;
}
.contact-title{
    font-size: 20px;
    font-family: 'ArchyEDT-Bold';
    color: white;
    letter-spacing: 2px;
}
.contact-p{
    color:white;
}
.social{
    display: flex;
}
.fb{
    margin-right: 20px;
}
@media (max-width: 768px){
    .nav-ul{
        flex-direction: column;
    }
    .nav-li{
        margin-right: 0px;
    }
}
@media (max-width: 414px){

    .l-news{
        flex-direction: column;
        align-items: center;
    }
    .pop-news{
        font-size: 25px;
        j
    }
    .news-block{
        width: 100%;
        margin-top: 30px;
    }
    .marginbot{
        flex-direction: column;
    }
    .contact{
        margin: 20px 0;
        width: 150px;
    }
    .social{
        display: none;
    }
    .nav-li{
        margin-right: 0px;
    }
}